{% extends 'base.html.twig' %}
{% block body %}
	{% if user.role == "admin" %}
		<div>
			<a href="{{ path("update", {"id":article.id}) }}" class="btn btn-success">Modifier un article</a>
			<a href="{{ path("delete", {"id":article.id}) }}" class="btn btn-success">Supprimer l'article</a>

		</div>

	{% endif %}

	<div class="d-flex justify-content-center">
		<div class="card text-center text-white bg-success mb-6" style="max-width: 50rem;">
			<div class="card-header">
				<h1>{{ article.title }}</h1>
			</div>
			<img src="{{ article.image }}" class="d-block user-select-none" width="100%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice"/>

			<div class="card-body">
				<p class="card-title">{{ article.intro }}</p>


				<p class="card-text">Entreprise de développement:{{ article.author }}</p>

				<p class"card-text">{{article.getDateArticles|format_date('full', locale='fr') }}</p>

			</div>
		</div>
	</div>


{% endblock %}
